@font-face 
{
    font-family: "railway";
    src: url(/css/Raleway-VariableFont_wght.ttf);
}
html
{
    font-family: "railway",Arial, Helvetica, sans-serif;
    max-width: 992px;
    margin: auto;
}
#header
{
    display: flex;
}
.element:nth-child(1)
{
    align-self: flex-start;
    flex: 1;
}
.element:nth-child(2)
{
    margin: 2%;
    line-height: 1%;
}
.element:nth-child(2):hover
{
    border-top: 2px solid #0065fc
}
.element:nth-child(3)
{
    margin: 2%;
    line-height: 1%;
    color: #f2f2f2;
}
.element:nth-child(3):hover
{
    border-top: 2px solid #0065fc;
}
.intro
{
    line-height: 1%; /*Espace entre les 2 lignes d'intro*/
    margin-bottom: 3%; /*Marge entre l'intro et la searchbox*/
    font-size: x-small; /*Taille de police de l'intro*/
}

/*BARRE DE RECHERCHE*/

.searchmenu 
{
    list-style: none;
    display: flex;
}
  /*Paramètres de la searchbox*/
  .searchTerm 
  {
    border: 1px solid #f2f2f2;
    outline: none;
    font-family: "railway";
    font-size: large;
    font-weight: bolder;
    color: black;
    padding: 8.5px;
  }
  .searchTerm:focus
  {
    font-size: large;
    font-family: "railway";

  }
  .searchButton 
  {
    border: 8.5px solid #0065fc;
    background: #0065fc;
    color: white;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: large;
  }
  #pointmap
  {
    background: #f2f2f2;
    color: black;
    border-radius: 10px 0px 0px 10px;
    border: 12px solid #f2f2f2;
  }

/*FILTRE*/

.ulmenu
  {
    list-style: none;
    display: flex;
    vertical-align: middle;

  }
.element1
{
    margin-right: 20px;
    padding: 10px;
    font-weight: bolder;
}
.element2
{
    text-align: center;
    border: 2.5px solid #f2f2f2;
    border-left-color: #deebff;
    border-radius: 50px 50px 50px 50px;
    margin-right: 15px;
    position:relative;

}
#img1
{
    border: 12px solid #deebff;
    background-color:#deebff;
    border-radius: 50%;
    color: #0065fc;
    


}
.textmenu
{
    padding: 10px; /*Taille de la bordure*/
    float: right;
    font-weight: bolder;
}
/*Partie Hôtel avec photos*/
h3
{
    line-height: 1px;
    font-size: medium;
}
.listehotel
{
    display: flex;
}
.blocgauche
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f2f2f2;
    border-radius: 2% 2% 2% 2%;
    margin-top: 8px;
    margin-right: 8px;

}
.blocdroite
{
    display: flex;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius: 2% 2% 2% 2%;
    margin-top: 8px;
    margin-left: 8px;

}
ul
{
    list-style:none;
    padding: 0px 10px 0px;
}
.imghot
{
    max-width: 180px;
    height: auto;
    border-radius: 5% 5% 0% 0%;
}
.imgpop
{
    max-width: 100px;
    height: auto;
    border-radius: 5% 0% 0% 5%;
}
.photopop
{
    float: left;
    padding: 9px 1px 2px 0px;
}
.textpop
{
    float: right;
}
.annonce
{
    background-color: white;
    border-radius: 4% 4% 4% 4%;
    font-family: "railway";
    font-size:0.9em;
    margin: 10px;
    margin-top: 5px;
    height: 200px;
    line-height: 20px;
}
.annoncepop
{
    background-color: white;
    border-radius: 4% 4% 4% 4%;
    font-family: "railway";
    font-size:0.9em;
    margin: 10px;
    margin-top: 5px;
    height: 115px;
    line-height: 20px;

    
}
.blocgauche:nth-child(1)
{
    flex: 70%;
}
.blocdroite:nth-child(2)
{
    flex: 30%;
}
.blocbottom
{
    position:absolute;
    top: 900px;
}

/*Notes avec les étoiles*/
.fa-star 
{
	color: #deebff;
}
.fa-star.blue
{
	color: #0065fc;
}
/*point info*/
.fa-info
{
    color: #0065fc;
    border: 2px solid #f2f2f2;
    padding: 1%;
    border-radius: 25% 25% 25% 25%;   
}
.iconpop
{
    display: flex;

}
h4
{
    font-size:x-large;
    line-height: 5px;
    margin-left: 10px;
}
.activites
{
    display: flex;
    
    padding: 0px 0px 1px 0px;

}
.imgact
{
    max-width: 200px;
    width: auto;
    border-radius: 10% 10% 0% 0%;

}
.act
{
    border-bottom: 1px solid #f2f2f2;
    border-radius: 3%;
    margin: 10px 10px 10px 10px;
}
.footer
{
    display: flex;
    position: absolute;
    top: 1300px;
    background-color: #f2f2f2;
    padding: 10px 100px 10px 10px;
    line-height: 19px;
}
.fin
{
    margin: 1px 100px 1px 1px;
}
h5
{
    font-weight: bolder;
}