@import url(./normalize.css);
@font-face 
{
    font-family: "railway";
    src: url(/css/Raleway-VariableFont_wght.ttf);
}
html
{
    font-family: "railway",Arial, Helvetica, sans-serif;
}
.flex
{
    display: flex;
}
h3
{
    font-size: 1.2em;
}
.blue, .fa-star.blue
{
	color: #0065fc;
}
.fa-star
{
	color: #deebff;
}
.background-grey
{
    background: #f2f2f2;
}
.column, .colonne, .colonne1, .populaire
{
    flex-direction: column;
}
ul
{
    list-style: none;
}

.text /* MOT RECHERCHER */
{
    border: 8.5px solid #0065fc;
    background: #0065fc;
    color: white;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: large;
}
.pointmap /* ICONE MAP */
{
    border-radius: 10px 0px 0px 10px;
    border: 12px solid #f2f2f2;
}
.fa-info /*ICONE DU POINT INFO*/
{
    border: 4px solid #f2f2f2;
    border-radius: 50%;
    padding: 7px 10px;
    margin-left: 10px; 
}
.element3 /* MOT FILTRE */
{
    font-weight: bolder;
}
.element4   /* ELEMENT DU FILTRE */
{
    text-align: center;
    border: 2.5px solid #f2f2f2;
    border-left-color: #deebff;
    border-radius: 50px;
}
.img1 /*ICONES DES FILTRES*/
{
    border: 12px solid #deebff;
    border-radius: 50%;
    background: #deebff;
}
.textmenu /*MOTS DANS LES FILTRES*/
{
    padding: 1px;
    font-weight: bolder;
    padding: 10px;
}
.intro-hebergement
{
    font-size: 2.6em;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 20px;

}
.card-rating /*ENSEMBLE DES NOTES*/
{
    font-size: 1.1em;
    margin: 3% 0% 0% 0%;
}
.card-body /*ENSEMBLE DE LA DESCRIPTION DE LANNONCE*/
{
    box-sizing: border-box;
}
.card-hotel /*PHOTOS DES HOTELS*/
{
    height: auto;

}
.card, .card-pop /*ANNONCE COMPLETE*/
{
    background-color: white;
    border: 5px solid white;
    border-radius: 4% 4% 4% 4%;
    font-family: "railway";
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 5px;
}
.notes /*NOTES DES HOTELS*/
{
    flex-wrap: nowrap;
}
.hebergements
{
    border: 4px solid #f2f2f2;
    border-radius: 2% 2% 2% 2%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card-hotel-pop
{
    border-radius: 3% 0% 0% 3%;
}
.populaire /*ENSEMBLE DES 3 BLOCS POPULAIRES */
{
    border: 4px solid #f2f2f2;
    border-radius: 2% 2% 2% 2%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.intro-activites
{
    font-size: 2.6em;
    font-weight: bold;
}
.activites
{
    padding: 0px 0px 1px 0px;
    justify-content: space-around;
}
.imgact
{
    border-radius: 5% 5% 0% 0%;
}
.card-activite
{
    text-align: center;
    font-size: 0.9em;
}
.colonne1 /* COLONNES DANS LE FOOTER */
{
    font-size: 1.2em;
    line-height: 40px;
}
.act
{
    margin-bottom: 10px;
    border: #f2f2f2;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5%;
    padding-bottom: 1px;
}
.footer
{
    justify-content: space-around;
}
h5
{
    font-size: 1.5em;
    font-weight: bolder;
}
@media screen and (min-width: 768px) /*ECRAN CLASSIQUE*/
{

.nav-logo, .intro
{
    align-self: flex-start;
    flex: 80%;
    margin-left: 1%;
    line-height: 1%;
}
.element
{
    margin: 15px;
}
.element:hover
{
    border-top: 2px solid #0065fc;
}
.icon {display:none}
.text {display:inline-block}
.searchTerm 
{
    border: 1px solid #f2f2f2;
    outline: none;
    font-size: large;
    font-weight: bolder;
    color: black;
    padding: 8.5px;
}
.element3 /*FILTRE*/
{
    margin-right: 20px;
}
.element4 /*ELEMENTS DU FILTRE*/
{
    margin-right: 15px;
    transition: 400ms;
}
.element4:hover, .card:hover, .card-pop:hover, .act:hover
{
    box-shadow: 0 0 10px 5px #0065fc;
    cursor: pointer;
    
}
.intro-hebergement
{
    margin-right: 40%;
}
.card-hotel /*PHOTOS DES HOTELS*/
{
    width: 225px;
    border-radius: 5% 5% 0% 0%;
}
.card /*ANNONCE COMPLETE*/
{
    margin: 7px;
    line-height: 10px;
    transition: 400ms;
}
.hebergements /*BLOC HEBERGEMENT DE GAUCHE*/
{
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 15px;
    margin-right: 20px;
    width: 60%;
}
.footer-hebergement
{
   margin-right: 80%;
}
.fa-arrow-trend-up
{
    margin-left: 80px;
}
.card-hotel-pop /*IMAGES POPULAIRES*/
{
    float: left;
    height: 170px;
    width: 170px;
    margin-right: 5px;
    margin-bottom: 0px;
}
.bloc-hotel /*BLOC HEBERGEMENTS ET POPULAIRES */
{
    justify-content: center;
    align-items: center;
}
.intro-populaire
{
    font-size: 1.8em;
    font-weight: bold;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;


}
.populaire /*ENSEMBLE DES 3 BLOCS POPULAIRES */
{
    width: 30%;
}
.card-pop, .act /*ANNONCE POPULAIRE*/
{
    transition: 400ms;
}
.intro-activites
{
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
}
.imgact
{
    max-width: 300px;
    height: auto;
    max-height: 450px;
}
.colonne
{
    padding-bottom: 1px;

    justify-content: space-between;
}
.ulmenu
  {
    align-items: center;
  }
}
@media screen and (max-width: 768px)
{
h1
{
    font-size: 1.2rem;
    margin: 10px;
    text-align: center;
}
h2
{
    font-size: 1rem;
    margin: 10px;
    text-align: center;
}
h3
{
    font-size: 1.5rem;
}
h4
{
    font-size: 1.1rem;
}
.logo
{
    width: 150px;
}
.intro-populaire
{
    font-size: 1.7rem;
    margin: 10px;
}
.populaire
{
    margin-bottom: 20px;
}
.fa-arrow-trend-up
{
    margin-left: 10%;
}
.icon {display:inline-block}
.text {display:none}
.nav-logo, .logo
{
    margin: auto;
}

.nav
{
    flex-direction: column;
}
.nav-element
{
    
    font-size: 0.8rem;
    justify-content: space-around; 
}
.element
{
    border-bottom: 2px solid #f2f2f2;
    width: 90%;
    transition: 400ms;
}
.element:active
{
    border-bottom: 4px solid #0065fc;
    width: 90%;
}
.searchTerm
{
    padding: 10px;
    outline: none;
    border: none;
}
.searchTerm
{
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;   
}
.icon
{
    border: 8.5px solid #0065fc;
    background: #0065fc;
    color: white;
    border-radius: 30% 30% 30% 30%;
    cursor: pointer;
    font-size: 1em;
    padding: 4px;
}
.search
{
    justify-content: center;
}
.element3
{
    padding-right: 170px;
    margin-bottom: 10px;
}
.element4
{
margin: 3px;
font-size: 0.8rem;
}
.card-hotel, .imgact
{
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 5% 5% 0% 0%;
}
.act, .card
{
    width: 95%;
    margin: 15px 10px 15px 10px;
    
}
.card-hotel-pop
{
    width: 160px;
    height: 160px;
    float: left;
    object-fit: cover;
}
.card
{
    margin-bottom: 5px;
}
.bloc-hotel
{
    flex-direction: column-reverse;
}
.hebergements, .activites, .footer, .card, .card-body-pop
{
    flex-direction: column;
}
.card-body-pop
{
    font-size: 0.8rem;
}
.card-body, .card-body-pop
{
    margin-left: 15px;
    padding-bottom: 5px;

}
.card-body-pop
{
    text-align: center;
    align-items: center;
}
.ulmenu
{
    flex-wrap: wrap;
}
.intro-activites, .footer-hebergement
{
    margin: 30px 10px 30px 10px;
    font-size: 1.5rem;
}
}